.wrapper {
    width: 100%;
}

.sec1__header {
    background: url(./hero-header-bg.jpg.svg) center no-repeat;
}

.sec1__header_logo-img {
    margin: 279px auto 89px;
}

.sec1__h1 {
    box-sizing: border-box;
    font-size: 54px;
    letter-spacing: 9px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
}

.sec1__text {
    width: 35%;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 29px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
}

.sec1__header_scroll {
    width: 23px;
    height: 37px;
    margin: 230px auto 27px;
    ;
}

.sec {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.paragraph {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47%;
}

.paragraph p:nth-child(1) {
    margin-top: 40px;
}

.sec__header {
    font-size: 34px;
    letter-spacing: 5px;
    color: #3c3c3c;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    transform: translate(10px, 44px);
    padding: 0px 35px;
}

/* .sec2__about-us_header {
    transform: translate(10px, 44px);
    padding: 0px 35px;
} */

.sec2__about-us_paragraph {
    border: 2px solid #3c3c3c;
    padding: 30px 67px;
    margin-bottom: 153px;
}

.sec__text {
    font-size: 16px;
    line-height: 24px;
    color: #3c3c3c;
    font-weight: 300;
    font-family: "Lato";
    text-align: center;
    width: 60%;
}

.sec2__about-us_text-narrow {
    padding: 0 35px;
}

.sec3__services {
    background: url(./services.jpg.svg) center no-repeat;
}

.sec3__services_header {
    transform: translate(10px, 50px);
    font-size: 34px;
    letter-spacing: 5px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
    padding: 0 50px;
    /* position: relative; */
}

.sec__text--color {
    line-height: 26px;
    color: #ffffff;
}

.sec3__services_paragraph {
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #ffffff 28%, transparent 29%, transparent 73%, #ffffff 66%);
    border-image-slice: 1;
    margin-bottom: 127px;
    position: relative;
}

.sec3__services_paragraph::after {
    content: "";
    background-color: #ffffff;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    right: 0px;
}

.sec4__what-we-do_header {}

.sec4__main-bock {
    border: 2px solid #3c3c3c;
    padding: 30px 67px;
    margin-bottom: 112px;
}

.sec4_block {
    width: 60%;
    margin-top: 80px;
}

.sec4__heade {
    font-size: 20px;
    letter-spacing: 3px;
    color: #3c3c3c;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
}

.sec4__text {
    font-size: 14px;
    line-height: 26px;
    color: #3c3c3c;
    font-weight: 300;
    font-family: "Lato";
    text-align: center;
}

.sec5__block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 10px;
}

.sec5__block .sec5__img-text:nth-child(2) {
    margin: 0 10px;
}

.sec5__img-text {
    position: relative;
}

.sec5__name {
    font-size: 34px;
    letter-spacing: 5px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
    position: absolute;
    left: 45px;
    bottom: 30px;
}

.sec6__btn {
    width: 395px;
    height: 58px;
    background-color: #3c3c3c;
    border: 2px solid #3c3c3c;
    font-size: 16px;
    letter-spacing: 3px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
}

.sec6__contacts_paragraph {
    border: 2px solid #3c3c3c;
    padding: 30px 67px;
    margin-bottom: 60px;
}

.sec7__footer {
    flex-direction: row;
    margin-bottom: 55px;
}

.sec7__text {
    font-size: 14px;
    color: #3c3c3c;
    font-weight: 400;
    font-family: "Lato";
}