/*
Вижу старалась по бему, но нефига не понятно...
text-btn - текст кнопки. Но ето не даже кнопка, и даже не текст. и хз и з какого блока. печалька
*/

.sec1-header {
    background-image: url(./section1.svg);
    width: 1500px;
    height: 1087px;  /*да ну блин - "нужно не блоку задавать высоту а контентом набирать нужную высоту" */
    /* Сделала выравнивание background по низу и обрезала левое пространство */
    background-position: bottom;
}

/*
    лайфхак как сделать что бы float не покидал батю
    .sec1-header:after {
        display: block;
        content: '';
        clear: both;
    }
*/

.sec1-info {
    padding-left: 165px;
    padding-right: 165px;

    /*
    вместо 1000 слов

    padding: 0 9%;
    width: calc(100% - 9% * 2);
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

        и теперь такие огороды(logo-header и nav-button) тебе не нужны
    */
}

.logo-header {
    margin-top: 45px;
}

.nav-button {
    float: right;
    margin-top: 57px;
}

.nav-button__btn {
    padding-left: 19px;
    padding-right: 19px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav-button__btn:hover {
    /*  border-top: 1px silid red; */
    border-top: 2px solid #ff6033;
}

.text-btn {
    float: left;
    width: 24%;
    margin-top: 200px;
    padding-left: 165px; /* а почему padding ? */
}

.sec1-paragraph {
    font-family: Raleway;
    font-size: 60px;
    margin-bottom: 32px;
}

.text-btn__info {
    font-family: 'Raleway';
    font-style: italic;
    font-size: 17px;
}

.text-btn__button {
    width: 200px;
    height: 55px;
    background-color: #ff6033;
    filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.5));
    color: white;
    font-family: Raleway;
    font-style: italic;
    font-size: 20px;
}

.sec2 {
    background-image: url(./bg.svg);
    width: 1500px;
    height: 700px;
}

.sec2__text {
    display: inline-block;
    float: right;
    width: 40%;
    padding-right: 165px;
    margin-top: 50px;
}

.sec2__text_header {
    font-size: 90px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    margin-bottom: 20px;
}

.sec2__text_info {
    font-size: 17px;
    font-style: italic;
    color: #ffffff;
    font-family: "Raleway";
}

.sec3 {
    background-image: url(./bg-services.svg);
    width: 1500px;
    height: 790px;
}