.main-section {
    width: 100%;
    background-color: #e2e7ec;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.first-row__main-pic {
    position: relative;
}

.date {
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #black;
    font-weight: 500;
    font-family: "Hans Kendrick";
}

.main-pic-date {
    position: absolute;
    bottom: 100px;
    left: 55px;
}

.main-pic__header {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 36px;
    color: #ffffff;
    font-family: "Hans Kendrick";
    position: absolute;
    bottom: 25px;
    left: 55px;
    width: 60%;
}